:root {
    color-scheme: light;
}

body {
    font-family: "Schibsted Grotesk", "Inter", "Ubuntu", "Roboto", "Helvetica", "Noto", sans-serif;
    line-height: 1.4;

    > header {
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid black;
        text-transform: uppercase;

        @media (max-width: 750px) {
            flex-direction: column;
        }

        > a {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            font-size: 5em;
            font-weight: 900;
            color: black;
            text-decoration: none;
            transition: all 0.5s ease;

            @media (max-width: 750px) {
                justify-content: flex-start;
                padding: var(--spacing-md) var(--spacing-lg);
                font-size: 3em;
            }

            @media (min-width: 751px) and (max-width: 1300px) {
                flex-grow: 0.5;
                font-size: 4em;
            }

            &:hover {
                flex-grow: 2;
            }

            > span {
                display: inline-block;
                transform: rotate(0deg);
                transition: transform 0.5s ease;
            }

            &:hover > span {
                transform: rotate(360deg);
            }
        }

        > nav {
            display: flex;
            flex-direction: row;
            flex-grow: 8;
            min-height: 25em;
            transition: all 0.5s ease;

            @media (max-width: 750px) {
                flex-direction: row;
                flex-wrap: wrap;
                min-height: unset;
                gap: var(--spacing-sm) var(--spacing-md);
                border-top: 2px solid black;
                padding: var(--spacing-lg);
            }

            &:has(> a:hover:not(.active)) > a.active {
                flex-grow: 1;

                > div > span {
                    transform: rotate(90deg);
                }
            }

            > a {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-grow: 1;
                width: 0.75em;
                padding: var(--spacing-3xs);
                border-left: 2px solid black;
                font-size: 3em;
                font-weight: 900;
                color: black;
                text-decoration: none;
                transition: all 0.5s ease;
                text-underline-offset: 3px;

                @media (max-width: 750px) {
                    flex-grow: 0;
                    width: auto;
                    padding: 0;
                    border: none;
                    font-size: 1.1em;
                }

                > div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-self: stretch;
                    flex: 1;
                    min-width: 0;
                    clip-path: inset(0);

                    > span {
                        white-space: nowrap;
                        transform: rotate(90deg);
                        transition: transform 0.5s ease;

                        @media (max-width: 750px) {
                            transform: rotate(0deg);
                        }
                    }
                }

                &:hover {
                    flex-grow: 8;

                    @media (min-width: 751px) and (max-width: 1300px) {
                        flex-grow: 20;
                    }

                    @media (max-width: 750px) {
                        flex-grow: 0;
                        text-decoration: underline 3px solid black;
                    }

                    > div > span {
                        transform: rotate(0deg);

                        @media (max-width: 750px) {
                            transform: rotate(0deg);
                        }
                    }
                }

                &.active {
                    flex-grow: 8;
                    text-decoration: underline 5px solid black;

                    > div > span {
                        transform: rotate(0deg);
                    }

                    @media (min-width: 751px) and (max-width: 1300px) {
                        flex-grow: 20;
                    }

                    @media (max-width: 750px) {
                        flex-grow: 0;
                        text-decoration: underline 3px solid black;
                    }
                }
            }
        }
    }

    > main {
        max-width: 800px;
        padding: var(--spacing-xl) var(--spacing-2xl);

        @media (max-width: 750px) {
            padding: var(--spacing-lg);
        }

        h1:first-child {
            margin-block: 0 var(--spacing-lg);
            font-size: 3em;
            text-transform: uppercase;
        }

        > article > hgroup,
        > hgroup {
            &:has(> :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6)) {
                > h1:first-child {
                    margin-block-end: var(--spacing-2xs);
                }

                > p {
                    margin-block: 0 var(--spacing-lg);
                    font-size: 1.25em;
                    font-weight: 700;
                }
            }
        }
    }

    > footer {
        padding: var(--spacing-xl) var(--spacing-2xl);
        border-top: 2px solid black;

        @media (max-width: 750px) {
            padding: var(--spacing-lg);
        }

        > p {
            margin-block: var(--spacing-sm);

            &:first-child {
                margin-block-start: 0;
            }

            &:last-child {
                margin-block-end: 0;
            }

            > a {
                text-decoration-thickness: 1px;
            }

            > time {
                font-weight: 700;
            }
        }
    }
}

a {
    color: currentColor;
    font-weight: 700;
}

code,
pre,
samp {
    font-family: "Source Code Pro", "Menlo", "Consolas", "Monaco", "Liberation Mono", "Lucida Console", monospace;
}
