:root {
    --color-primary: var(--oc-green-8);
    --color-accent: var(--oc-orange-8);

    color-scheme: light dark;

    @media print {
        color-scheme: light;
    }
}

body {
    display: grid;
    grid-template-areas: "sidebar main" "footer footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    gap: 25px 40px;

    width: fit-content;
    min-height: 100vh;
    margin: 0;
    padding: 35px 30px 20px 30px;

    font-family: "Inter", "Ubuntu", "Roboto", "Helvetica", "Noto", sans-serif;
    font-size: clamp(0.9rem, 0.7rem + 0.5vw, 1.05rem);
    line-height: 1.4;

    @media (max-width: 750px) {
        grid-template-areas: "sidebar" "main" "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
    }

    > header {
        display: flex;
        flex-direction: column;
        gap: 20px;

        grid-area: sidebar;

        @media (max-width: 750px) {
            gap: 7.5px;
        }

        > a {
            margin: 0;
            width: fit-content;

            font-size: 2em;
            font-weight: 900;
            text-decoration: none;

            @media (max-width: 750px) {
                margin-bottom: 2.5px;
            }

            &:hover {
                color: currentcolor;

                background-color: unset;
                box-shadow: none;
            }

            > sup {
                color: var(--color-primary);
            }

            &:hover > sup {
                color: var(--color-accent);

                text-shadow:
                    2.5px 2.5px 25px var(--color-accent),
                    -2.5px -2.5px 25px var(--color-accent);
            }
        }

        > nav {
            display: flex;
            flex-direction: column;
            gap: 7.5px;

            @media (max-width: 750px) {
                flex-direction: row;
                flex-wrap: wrap;
                align-content: center;
            }

            > a {
                --item-color: var(--color-primary);

                width: fit-content;

                &.active {
                    --item-color: var(--color-accent);
                }
            }
        }
    }

    > main {
        grid-area: main;

        min-width: 0;
        max-width: 800px;
        margin-top: 5px;

        h1:first-child {
            margin-block-start: 0;
        }
    }

    > footer {
        grid-area: footer;

        margin-top: 40px;
        padding-top: 10px;

        font-size: 0.9em;

        border-top: 1px solid light-dark(var(--oc-gray-5), var(--oc-gray-7));

        > p {
            margin-block: 0.5em;

            color: light-dark(var(--oc-gray-6), var(--oc-gray-5));

            > a {
                text-decoration-thickness: 1px;
            }

            > time {
                font-weight: 700;
            }
        }
    }
}

a {
    --item-color: var(--color-accent);

    position: relative;

    box-decoration-break: clone;

    color: currentcolor;
    text-decoration: underline solid var(--item-color);
    text-decoration-thickness: 2px;

    &:hover {
        z-index: 10;

        color: white;
        text-decoration: none;

        background: var(--item-color);
        box-shadow:
            -1px 0 0 2.5px var(--item-color),
            1px 0 0 2.5px var(--item-color);
    }
}

code,
pre,
samp {
    font-family: "Source Code Pro", "Menlo", "Consolas", "Monaco", "Liberation Mono", "Lucida Console", monospace;
}
