body > .page > .page__feeds > .page__feeds-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-2xs);
    margin: 0;
    padding-inline-start: 0;
    list-style: none;

    > li {
        margin-block: 0;
        padding-inline-start: 0;

        &::before {
            content: none;
        }

        &:not(:last-child)::after {
            content: " \00b7";
        }
    }
}

body > .page > .post-list {
    list-style: none;
    padding-inline-start: 0;
    margin-block: var(--spacing-lg);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);

    > .post-list__item {
        margin-block: 0;
        padding: var(--spacing-lg);
        border: 1px solid var(--color-border);
        border-radius: var(--spacing-xs);
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
        gap: var(--spacing-sm);

        > .post-list__date {
            color: var(--color-fg-muted);
            font-size: var(--font-size-xs);

            @media (max-width: 750px) {
                flex-basis: 100%;
            }
        }

        > .post-list__title {
            margin-block: 0;
            font-family: var(--font-heading);
            font-weight: var(--font-weight-bold);
            font-size: var(--font-size-base);
        }
    }
}
