body > main > div {
    column-count: 2;
    column-gap: var(--spacing-lg);

    @media (max-width: 750px) {
        column-count: 1;
    }

    > section {
        break-inside: avoid;
        page-break-inside: avoid;

        > h2 {
            margin-block: 0 var(--spacing-sm);
        }
    }
}
