body > main > div {
    column-count: 2;
    column-gap: 20px;

    @media (max-width: 750px) {
        column-count: 1;
    }

    > section {
        break-inside: avoid;
        page-break-inside: avoid;

        > h2 {
            margin-block: 0 0.5em;
        }
    }
}
