body > main > pre {
    float: right;

    width: fit-content;
    margin: -30px 0 15px 15px;

    font-size: 0.75em;
    line-height: 1;

    @media (max-width: 750px) {
        float: none;

        width: unset;
        margin: 0;
        overflow-x: scroll;
    }
}
