body > main {
    > div {
        min-width: 0;

        > pre {
            float: right;

            max-width: 100%;
            width: fit-content;
            min-width: 0;
            margin: -30px 0 15px 15px;
            overflow-x: auto;

            font-size: 0.75em;
            line-height: 1;

            @media (max-width: 750px) {
                float: none;

                width: unset;
                margin: 0;
            }
        }
    }
}
