body > main > figure {
    min-width: 0;
    overflow-x: auto;

    > pre {
        font-size: clamp(0.4rem, calc((100vw - 2.5rem) / 32), 0.75rem);
        line-height: 1;
        min-width: fit-content;
        text-decoration: none !important;
    }
}
