html > .body.body--bare > .page {
    > .page__error-heading {
        --404-spacing: 0.4em;

        position: relative;
        display: inline-flex;
        align-items: flex-start;
        gap: var(--spacing-sm);
        height: calc(var(--line-height-heading) * 1em + var(--404-spacing) * 2);
        font-size: clamp(6rem, 30vw, 16rem);

        > .page__error-heading-digit {
            display: inline-block;

            &:nth-child(1) {
                rotate: -20deg;
            }

            &:nth-child(2) {
                margin-block-start: calc(var(--404-spacing) * 1);
                color: var(--color-body-fg-muted);
            }

            &:nth-child(3) {
                margin-block-start: calc(var(--404-spacing) * 2);
                rotate: 20deg;
            }
        }
    }

    > .page__brand {
        font-size: var(--font-size-3xl);
    }

    > p {
        font-size: var(--font-size-lg);
  font-weight: bold;
    }
}
