{% extends "base.html" %}

{% block title -%}
    Projects
{%- endblock title %}

{% block content %}
    <hgroup>
        <h1>Projects</h1>
        <p>Some of the things I've worked on</p>
    </hgroup>
    <dl>
        <dt>
            <a href="https://github.com/Gijs6/meliag">Meliag</a>
        </dt>
        <dd>
            A train info webapp for Dutch train stations (hopefully works better than the actual trains).
        </dd>
        <dt>
            <a href="https://github.com/Gijs6/stapler">Stapler</a>
        </dt>
        <dd>
            A simple static site generator built with Python and Jinja.
        </dd>
        <dt>
            <a href="https://github.com/Gijs6/gijs6.nl">gijs6.nl</a>
        </dt>
        <dd>
            This very site. I hope you like it. Please like it.
        </dd>
        <dt>
            <a href="https://school.gijs6.nl">school.gijs6.nl</a>
        </dt>
        <dd>
            The place where I store all my school summaries.
        </dd>
        <dt>
            <a href="https://github.com/Gijs6/outflow">Outflow</a>
        </dt>
        <dd>
            A simple and clean weather webapp.
        </dd>
        <dt>
            <a href="https://github.com/Gijs6/huebox">Huebox</a>
        </dt>
        <dd>
            A simple color palette manager.
        </dd>
        <dt>
            <a href="https://gemeentle.gijs6.nl">Gemeentle</a>
        </dt>
        <dd>
            A daily Dutch municipality guessing game. Turns out the Netherlands has a lot of municipalities you've never heard of.
        </dd>
    </dl>
    <p>
        You can find all my projects on my <a href="https://github.com/Gijs6">GitHub profile</a>, <a href="https://gitlab.com/ggijs">GitLab profile</a>, <a href="https://codeberg.org/Gijs6">Codeberg profile</a> or in the <a href="https://git.dupunkto.org">{du}punkto repos</a>.
    </p>
{% endblock content %}
