{% extends "base.html" %}

{% block title -%}
    {{ post.title }}
{%- endblock title %}

{% block content %}
    <article class="page__article">
        <hgroup class="page__intro">
            <h1 class="page__title">{{ post.title }}</h1>
            <p class="page__subtitle">
                {%- if post.date -%}
                    <time datetime="{{ post.date.isoformat() }}">{{ post.date.strftime("%Y-%m-%d") }}</time> ·
                {%- endif %}
                {{ post.reading_time }} min read · {{ post.word_count }} words
            </p>
        </hgroup>
        {{ post.content | safe }}
    </article>
{% endblock content %}

{% block footer_extra %}
    <p class="footer__reply"><a href="https://contact.gijs6.nl">Reply to this post</a></p>
{% endblock footer_extra %}
