{% extends "base.html" %}

{% block title -%}
    Blog
{%- endblock title %}

{% block content %}
    <hgroup class="page__intro">
        <h1 class="page__title">Blog</h1>
        <p class="page__subtitle">
            Things I <s>rant</s> write about
        </p>
    </hgroup>
    <nav class="page__feeds" aria-label="Feeds">
        <a class="page__feeds-link" rel="alternate" type="application/rss+xml" href="/blog/rss.xml">RSS</a> &middot; <a class="page__feeds-link" rel="alternate" type="application/atom+xml" href="/blog/atom.xml">Atom</a> &middot; <a class="page__feeds-link" rel="alternate" type="application/feed+json" href="/blog/feed.json">JSON</a>
    </nav>
    <ol class="post-list">
        {% for post in posts %}
            <li class="post-list__item">
                <a class="post-list__title" href="/blog/{{ post.slug }}">{{ post.title }}</a>
                {%- if post.date -%}<time class="post-list__date" datetime="{{ post.date.isoformat() }}">{{ post.date.strftime("%Y-%m-%d") }}</time>{%- endif %}
            </li>
        {% endfor %}
    </ol>
{% endblock content %}
